/*@jade: #009999;
@jadelight: #33CCCC;
@jadedark: #1D7373;*/



body {
	margin: 0px;
	font-family: "Oswald", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: white;
	background:url("../images/noisy.png") repeat;
	font-weight: 300;
	}

.logo,
.logo-navbar,
.logo-big {
	font-family: "Oswald", "Helvetica Neue", "Open Sans", sans-serif;
	font-size: 18px;
}

#logo-navbar > .ui.menu .item{
	color: white;
}

.logo-big,
.logo-description {
   position: absolute;
   top: 50%;
   margin-top: -40vmin;/* half of #content height*/
   left: 0;
   width: 100%;
   font-size: 25vh;
   color: #009999;
   font-weight: 400;
}

.logo-description {
	margin-top: -8vmin;
	font-size: 7vh;
}

.banner {
	width: 100%;
	height: 75vmin;
	background: white;
}

.navbar {
	background: #1D7373;
	color: white;
}
