/*@orange: #E5A900;
@jadelight: #33CCCC;
@jadedark: #1D7373;*/



body {
	margin: 0px;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: white;
	background:url("../images/concrete_wall.png") repeat;
	font-weight: 300;
	}

.use-oswald {
	font-family: "Oswald", "Helvetica Neue", "Open Sans", sans-serif;
}

.logo,
#logo-navbar,
.logo-big,
.logo-description,
.question-title {
	font-family: "Oswald", "Helvetica Neue", "Open Sans", sans-serif;
	font-size: 18px;
}

.logo-big,
.logo-description {
	color: #E5A900;
	font-weight: 400;
	font-size: 15vw;
	text-shadow: 0px 0px 1px #BABABA;
}

.logo-description {
	color: #303030;
	font-size: 7vmin;
	margin-bottom: 20px;
}

.logo-image {
	background: #E5A900;
	height: 13vw;
}

#question-title {
	font-family: "Oswald", "Helvetica Neue", "Open Sans", sans-serif;
	font-size: 4vw;
	font-weight: 400;
}

.banner,
.box,
.box-title,
.box-comments,
.box-white,
.box-orange,
.box-grey {
	margin: 0px 16px 0px 16px;
	padding: 25px;
	padding-bottom: 30px;
	background: white;
	border: 1px #262626;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.banner,
.box-title {
	margin-top: 16px;
}

.box-title {
	margin-bottom: 16px;
}

.box-comments {
	padding: 16px;
}

.navbar {
	background: #E5A900;
	color: white;
}

.ui.items > .front-card{
    min-height: 150px;
}

.container {
    width: 915px;
    margin: 20px auto;
}

#generatedHyperlink {
	color: #0099FF;
}

a {
    color: #2A5DB0;
    text-decoration: none;
}

.ui.attached.segment > a > i.up-down-vote {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
}

#add_idea {
	position: fixed;
	bottom: 0;

}

.footer {
	background: #303030;
	height: 60px;
}

.footer-color {
	background: #E5A900;
	height: 5px;
	width: 100%;
}

.footer-text {
	color: #33CCCC;
}
