<!doctype html>
<html>
  <head>
    {% block head %}

    {% load staticfiles %}

    <link rel="icon" type="image/png" href="{% static "images/tempestfavicon.png" %}">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "css/semantic.min.css" %}">

    <script src="{% static "js/jquery-2.0.3.min.js" %}"

    <script src="{% static "js/angular.min.js" %}"></script>


    <script src="{% static "js/semantic.min.js" %}"></script>

    <script src="{% static "js/jade.js" %}"></script>

    <link href="{% static 'css/jade.css' %}" rel="stylesheet" type="text/css">

    {% endblock %}
  </head>
  <body>
    {% block navbar %}      
    <div class="navbar ui main menu" style="background: #E5A900; border-radius:0px; margin-bottom:0px" id = "logo-navbar">
        <a href='{% url "home" %}' class="item">
        <div id="logo-navbar">
          TEMPEST
        </div>
      </a>

      <div class="right menu">
<!--       <a class="item">
        <i class="add icon"></i> Create a Poll
      </a> -->
<!--         <div class="ui dropdown item">
          My Account <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item">Account Settings</a>
            <a class="item">Logout</a>
          </div>
        </div> -->
      </div>
    </div>

    <div class="ui modal" id="share_modal">
      <i class="close icon"></i>
      <div class="header">
        <center> A storm is brewing...
        </center>
      </div>
      <div class="content">
        <div class="ui grid center aligned">
          <div class="row">
            <div class="column"> 
              Copy and share this link:
            </div>
          </div>
          <div class="row">
            <center>
              <div class="ui input">
                <input type="text" id="poll_url">
              </div>
            </center>
          </div>
          <div class="ui horizontal divider">
            Or
          </div>
          <div class="row">
            <a href="" id="poll_go">
              <div class="ui green button"><i class="circle arrow right icon"></i> GO NOW </div>
            </a>
          </div>
          <div class="row">
            <a href="#" 
              onclick="
                window.open(
                  'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                  'facebook-share-dialog', 
                  'width=626,height=436'); 
                return false;" id="facebook_share">
              <div class="ui facebook button"><i class="facebook icon"></i> SHARE ON FACEBOOK </div>
            </a>
          </div>
    <!--       <div class="row">
            <div class="ui twitter button"><i class="twitter icon"></i> SHARE ON TWITTER </div>
            </a>
          </div> -->
          <div class="row">
            <div class="ui orange button" id="email_button"><i class="mail icon"></i> SHARE WITH EMAIL </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="ui button">Cancel</div>
        <div class="ui button">OK</div>
      </div>
    </div>

    {% endblock %}

    {% block content %}{% endblock %}

    <div class="ui horizontal icon divider">
      <i class="circular smile icon"></i>
    </div>

    <div class="footer-color"> </div>
      <div class="ui middle two column grid footer">
        <div class="column">
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </body>
</html>
