<!doctype html>
<html>
  <head>
    {% block head %}

    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    
    <link href="{% static 'css/semantic-0.2.4.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "elements/button.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "elements/divider.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "elements/header.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "elements/icon.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "elements/image.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "elements/input.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "elements/label.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "elements/loader.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "elements/progress.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "elements/segment.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "elements/step.css" %}">

    <link rel="stylesheet" type="text/css" class="ui" href="{% static "collections/breadcrumb.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "collections/form.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "collections/grid.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "collections/menu.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "collections/message.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "collections/table.css" %}">

    <link rel="stylesheet" type="text/css" class="ui" href="{% static "views/comment.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "views/list.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "views/feed.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "views/item.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "views/statistic.css" %}">

    <link rel="stylesheet" type="text/css" class="ui" href="{% static "modules/carousel.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "modules/modal.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "modules/dropdown.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "modules/popup.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "modules/reveal.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "modules/rating.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "modules/sidebar.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "modules/shape.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "modules/tab.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "modules/checkbox.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "modules/dimmer.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "modules/transition.css" %}">
    <link rel="stylesheet" type="text/css" class="ui" href="{% static "custom.css" %}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static "modules/behavior/api.js" %}"></script>
    <script src="{% static "modules/behavior/state.js" %}"></script>
    <script src="{% static "modules/checkbox.js" %}"></script>
    <script src="{% static "modules/dimmer.js" %}"></script>
    <script src="{% static "modules/dropdown.js" %}"></script>
    <script src="{% static "modules/modal.js" %}"></script>
    <script src="{% static "modules/popup.js" %}"></script>
    <script src="{% static "modules/rating.js" %}"></script>
    <script src="{% static "modules/sidebar.js" %}"></script>
    <script src="{% static "modules/tab.js" %}"></script>
    <script src="{% static "modules/transition.js" %}"></script>

    <link href="{% static 'css/jade.css' %}" rel="stylesheet" type="text/css">

    {% endblock %}
  </head>
  <body>
    {% block navbar %}      
    <div class="navbar ui main menu" style="background: #E5A900; border-radius:0px; margin-bottom:0px" id = "logo-navbar">
        <a href='{% url "home" %}' class="item">
        <div id="logo-navbar">
          TEMPEST
        </div>
      </a>

      <div class="right menu">
<!--       <a class="item">
        <i class="add icon"></i> Create a Poll
      </a> -->
<!--         <div class="ui dropdown item">
          My Account <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item">Account Settings</a>
            <a class="item">Logout</a>
          </div>
        </div> -->
      </div>
    </div>

    {% endblock %}

    {% block content %}{% endblock %}
  </body>
</html>
