{% extends 'base.html' %}

{% block content %}
<div class="box-title">
	<div class="ui middle aligned grid container" style="margin-top: 20px">
	    <div class="two wide column">
	        <div class="ui icon header">
	            <a href="{% url 'poll_atomic' poll.id %}"><i class="circular angle left icon"></i></a>
	        </div>
	    </div>
	    <div class="fourteen wide column use-oswald" style="font-size: 12pt; font-family: 'Oswald'; font-weight: 300">
	        <h1><a href="{% url 'poll_atomic' poll.id %}">{{ poll.name }}</a></h1>
	    </div>
	</div>
</div>

<div class="box-title">
        <div class="ui grid">
            <div class="two wide column">
                <!-- votes -->
            </div>
            <div class="fourteen wide column">
                <h1>{{ card.text }}</h1>
                {% if card.submitter %}
                    <p align="right">Posted by {{ card.submitter }}
                {% endif %}
            </div>
        </div>
</div>

<div id="comments">
    {% for comment in card.comments %}
        {% include 'comment.html' %}
    {% endfor %}
</div>

<div class="container">
    <form id="comment" action="{% url 'create_comment' %}"
        method="post">
        {% csrf_token %}
        <div class="ui large fluid icon input">
            <input type="text" name="text" placeholder="Add a new comment" id="comment_text">
            <i class="teal pencil icon"></i>
        </div>
        <input type="hidden" name="option_id" value="{{ card.option_id }}">
    </form>
</div>

<script type="text/javascript">

    function redraw(){
        $.get(
            "{% url 'option_redraw' %}",
            {'option_id': {{ card.option_id }}},
            function(result){
                $('#comments')[0].innerHTML = result['comment_html'];
            }
        );
    }
    function reply(){
            console.log('post');
        $('#comment').submit(function(){
            $.post(
                $(this).attr('action'),
                $(this).serialize(),
                function(result){
                    if (result['result'] == 'success'){
                        $('#comment_text')[0].value = '';
                        redraw();
                    }
                }
            );
            return false;
        });
    }
    $('#comment').keypress(function(event){
        if (event.which == 13){
            return reply();
        }
    });

    //setInterval(redraw, 1000);

</script>

{% endblock %}

