<div class='column'>
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <div class='name'>
                    <h2>
                        <a href="{% url 'card_atomic' card.option_id %}">
                            {{ card.text | truncatechars:35}}
                        </a>
                    </h2>
                </div>
                <p class='description'>
                -- {{ card.submitter | truncatechars:20 }}
                </p>
                <!--
                <div class='ui bottom left attached purple label'>
                    submitter
                </div>
                -->
            </div>
            <div class="four wide column">
                <div class="ui top attached segment">
                    <a href="javascript:void(0)" onclick="upvote({{ card.option_id }})">
                        <i class="green up large arrow icon up-down-vote"></i>
                    </a>
                </div>
                <div class="ui attached segment">
                    <h3 class="ui center aligned header">
                        {{ card.votes }}
                    </h3>
                </div>
                <div class="ui bottom attached segment">
                    <a href="javascript:void(0)" onclick="downvote({{ card.option_id }})">
                        <i class="red down large arrow icon up-down-vote"></i>
                    </a>
                </div>
                <br/>
                <div class="ui attached mini labeled button">
                    <i class="comment icon"></i>
                    {{ card.comments | length }}
                </div>
            </div>
        </div>
    </div>
</div>
