<div class='column'>
    <div class="box-title">
        <div class="ui grid">
            <div class="twelve wide column">
                <div class='name'>
                    <h4>
                        <a href="{% url 'card_atomic' card.option_id %}">
                            {{ card.text | truncatechars:100}}
                        </a>
                    </h4>
                </div>
                <p class='description'>
                -- {{ card.submitter | truncatechars:20 }}
                </p>
                <!--
                <div class='ui bottom left attached purple label'>
                    submitter
                </div>
                -->
            </div>
            <div class="four wide column">
                <div class="ui top attached segment">
                    <a href="javascript:void(0)" onclick="upvote({{ card.option_id }})">
                        {% if card.user_vote == 1 %}
                        <i class="green up arrow icon up-down-vote"></i>
                        {% else %}
                        <i class="black up arrow icon up-down-vote"></i>
                        {% endif %}
                    </a>
                </div>
                <div class="ui attached segment">
                    <h3 class="ui center aligned header">
                        {{ card.votes }}
                    </h3>
                </div>
                <div class="ui bottom attached segment">
                    <a href="javascript:void(0)" onclick="downvote({{ card.option_id }})">
                        {% if card.user_vote == -1 %}
                        <i class="red down arrow icon up-down-vote"></i>
                        {% else %}
                        <i class="black down arrow icon up-down-vote"></i>
                        {% endif %}
                    </a>
                </div>
                <br/>
                <a href="{% url 'card_atomic' card.option_id %}">
                    <div class="ui attached mini labeled button">
                        <i class="comment icon"></i>
                        {{ card.comments | length }}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
