<div class='column'>
    <div class="ui segment">
        <div class="ui divided grid">
            <div class="two wide column">
                <div class="ui top attached basic button">
                    <i class="green up medium arrow icon"></i>
                </div>
                <div class="ui attached segment">
                    <h3 class="ui center aligned header">
                        3
                    </h2>
                </div>
                <div class="ui bottom attached basic button">
                    <i class="red down medium arrow icon"></i>
                </div>
            </div>
            <div class="fourteen wide column">
                <div class="row">
                    {{ card.votes }} votes
                </div>
                <div class='name'>
                    <h2>
                        <a href="{% url 'card_atomic' card.option_id %}">
                            {{ card.text | truncatechars:35}}
                        </a>
                    </h2>
                </div>
                <p class='description'>
                -- {{ card.submitter | truncatechars:20 }}
                </p>
                <div class='extra'>
                    {{ card.comments | length }} comments
                </div>
            </div>
        </div>
    </div>
</div>
