{% extends 'base.html' %}

{% block content %}

<center>
<div class="three row middle aligned column banner">
    <div class="row">
      <div class="logo-big">
        TEMPEST
      </div>
    </div>
    <div class="row logo-description">
      Organize your group's ideas, instantly.
    </div>
    <div class="row">
      <a class="ui orange massive button">Create a Poll Now</a>
    </div>
</div>
<div class="box">
  <div class="two column stackable ui grid">
  <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
  </div>
  <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
  </div>
</div>
</div>
</center>

{% endblock %}

