{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<div class="ui create modal">
  <i class="close icon"></i>
  <div class="header large">
    Your Poll has been Created!
  </div>
  <div class="content">
    <h2> Visit/Share this link: <a id="poll_url" href=""></a> </h2>
  </div>
  <div class="actions">
    <div class="ui blue button use-oswald"> <i class="share icon"></i>SHARE</div>
    <div class="ui orange button use-oswald">OK</div>
  </div>
</div>

<center>
<div class="three row middle aligned column banner">
    <div class="row">
      <div class="logo-big">
        TEMPEST
        <img src="{% static 'images/logo.png' %}" class="logo-image">
      </div>
    </div>
    <div class="row logo-description">
      Organize a group brainstorm in seconds.
    </div>
    <div class="middle align row">
      <div class="stackable ui grid">
        <div class="two wide column"></div>
        <div class="eight wide column">
          <div class="ui massive fluid input">
            <input type="text" placeholder="Set up a topic or ask a question..."
            id="question">
            {% csrf_token %}
          </div>
        </div>
        <div class="four wide column">
          <center>
            <div class="ui massive orange button disabled use-oswald" id="createpoll">Start a Storm</div>
          </center>
        </div>
        <div class="two wide column"></div>
      </div>
    </div>
</div>

<script type="text/javascript">


  function calculatebtn() {
      if ($('#question')[0].value != '') {
          $('#createpoll').removeClass('disabled');
      }
      else{
          $('#createpoll').addClass('disabled');
      }
  }

  $("#question").keyup(calculatebtn)


  function createPoll(){
      if (!$("#createPoll").hasClass('disabled')) {
          var question = $('#question')[0].value;
          var csrf_token = $('[name="csrfmiddlewaretoken"]')[0].value;
          $.post(
              "{% url 'create_poll' %}",
              {
                  'name': question,
                  'csrfmiddlewaretoken': csrf_token
              },
              function(response){
                  if (response.result == 'success'){
                      $('.create.modal').modal('show');
                      $('#poll_url')[0].setAttribute('href', response.url);
                      $('#poll_url')[0].innerHTML = response.fullurl;
                      $('.create.modal').modal('show');
                  }
              }
          )
      }
  }
  
  $("#createpoll").click(createPoll);

  $('#question').keyup(function(event){
    if (event.which == 13){
      createPoll();
    }
    return false;
  });
  
</script>


<div class="box">
  <div class="two column stackable ui grid">
  <div class="column">
      <h1> No Sign-Up Required! </h1>
      <p> With Tempest, there's no need to sign in. Create a public Storm in just one click, and share the link to whoever you so choose. They'll populate the space with answers, advice, and ideas. Anyone can add their input.</p>

  </div>
  <div class="column">
      <h1> Keep your ideas out in the open. </h1>
      <p> Storms are free spaces for anyone to gather input from their friends, coworkers or student groups. Ideas can be voted on and commented, so you can always see a real-time view of which ideas your group finds the most appealing. </p>
      <p> Storms are public, so anyone with the link that you generate can add to your Storm, without the need of accounts. </p>
  </div>
</div>

</div>
</center>

{% endblock %}

