{% extends 'base.html' %}

{% block content %}

<div class="box-title">
        <h1 id="question-title">{{ poll.name }}</h1>
        {% if poll.submitter %}
        <p>Asked by {{ poll.submitter }}
        {% endif %}
</div>

<div class="three column stackable ui grid" id="cards">
    {% for card in cards %}
    {% include 'card_front.html' %}
    {% endfor %}
</div>

<div class="ui horizontal icon divider">
    <i class="circular bolt icon"></i>
</div>

<div class="container">
    <div class="ui segment">
        <form id="new_option_form" action="{% url 'create_option' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="poll_id" value="{{ poll.id }}">
            <div class="ui fluid input">
                <input id="option_input" type="text" name="text" placeholder="Add a new option">
            </div>
            <div class="ui action input" style="margin-top:20px">
                <input id="username_input" type="text" name="submitter" placeholder="Your name">
                <div id="add_btn" class="ui teal disabled button"><i class="user icon"></i> Add Option</div>
            </div>
        </form>
    </div>
</div>

{% csrf_token %}

<script type="text/javascript">

    $("#new_option_form").submit(function(){
        $.post(
            $(this).attr('action'),
            $(this).serialize(),
            function(response){
                if (response.result == 'success'){
                    redraw();
                }
            }
        );
        return false;
    });

    $("#add_btn").click(function(){
        if (!$(this).hasClass('disabled')){
            $("#new_option_form").submit();
        }
    });

    function calculate_btn(){
        if ($('#option_input')[0].value != '' && $('#username_input')[0].value != ''){
            $('#add_btn').removeClass('disabled');
        }
        else{
            $('#add_btn').addClass('disabled');
        }
    }

    function redraw(){
        $.get(
            '{% url "poll_redraw" %}',
            {
                poll_id: {{ poll.id }},
                csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]')[0].value
            },
            function(response){
                $('#cards')[0].innerHTML = response.card_html;
            }
        );
    }

    function upvote(option_id){
        $.post(
            '{% url "option_upvote" %}',
            {
                option_id: option_id,
                csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]')[0].value
            },
            function(response){
                if (response.result == 'success'){
                    redraw();
                }
            }
        );
        return false;
    }

    function downvote(option_id){
        $.post(
            '{% url "option_downvote" %}',
            {
                option_id: option_id,
                csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]')[0].value
            },
            function(response){
                if (response.result == 'success'){
                    redraw();
                }
            }
        );
        return false;
    }

    $("#option_input").keyup(calculate_btn);
    $("#username_input").keyup(calculate_btn);

    setInterval(redraw, 1000);
</script>

{% endblock %}

