{% extends 'base.html' %}

{% block content %}

<div class="box-title">
  <div class="ui middle aligned stackable grid">
    <div class="one wide column"></div>
    <div class="ten wide column">    
      <div id="question-title">{{ poll.name }}</div>
      {% if poll.submitter %}
      <p>Asked by {{ poll.submitter }}
      {% endif %}
    </div>
    <div class="one wide column"></div>
    <div class="four wide column">
      <a href="#option_input">
        <div class="ui orange button"><i class="add icon"></i> Add an Idea </div>
      </a>
    </div>
  </div>
</div>

<div class="three column stackable ui grid" id="cards">
  {% for card in cards %}
  {% include 'card_front.html' %}
  {% endfor %}
</div>

<div class="ui horizontal icon divider">
  <i class="circular bolt icon"></i>
</div>
  <div class="box">
    <center>
      <form id="new_option_form" action="{% url 'create_option' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="poll_id" value="{{ poll.id }}">
        <h1 class="use-oswald"> Add your idea to the storm. </h1>
        <div class="ui grid">
          <div class="four wide column"> </div>
          <div class="eight wide column">
            <div class="ui form">
              <textarea id="option_input" type="text" name="text"></textarea>
              <div class="ui fluid input" style="margin-top:20px">
                <input id="username_input" type="text" name="submitter" placeholder="Your name">
                <center>
                  <div id="add_btn" class="ui orange disabled large button" style="margin-top: 20px">
                    <i class="add icon"></i> Submit Idea
                  </div>
                </center>
              </div>
            </div>
          </div>
        </div>
      </form>
    </center>
  </div>
<!-- </div> -->

{% csrf_token %}

<script type="text/javascript">

  // Scroll down to the bottom of the page when 'Add Idea' is clicked.
  $("a[href='#option_input']").click(function() {
    $("html, body").animate({ scrollTop: $(document).height() }, "slow");
    return false;
  });

  $("#new_option_form").submit(function(){
    $.post(
      $(this).attr('action'),
      $(this).serialize(),
      function(response){
        if (response.result == 'success'){
          redraw();
        }
      }
    );
    $('#option_input').val('');
    return false;
  });

  $("#add_btn").click(function(){
    if (!$(this).hasClass('disabled')){
      $("#new_option_form").submit();
    }
  });

  function calculate_btn(){
    if ($('#option_input')[0].value != '' && $('#username_input')[0].value != ''){
      $('#add_btn').removeClass('disabled');
    }
    else{
      $('#add_btn').addClass('disabled');
    }
  }

  function redraw(){
    $.get(
      '{% url "poll_redraw" %}',
      {
        poll_id: {{ poll.id }},
        csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]')[0].value
      },
      function(response){
        $('#cards')[0].innerHTML = response.card_html;
      }
    );
  }

  function upvote(option_id){
    $.post(
      '{% url "option_upvote" %}',
      {
        option_id: option_id,
        csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]')[0].value
      },
      function(response){
        if (response.result == 'success'){
          redraw();
        }
      }
    );
    return false;
  }

  function downvote(option_id){
    $.post(
      '{% url "option_downvote" %}',
      {
        option_id: option_id,
        csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]')[0].value
      },
      function(response){
        if (response.result == 'success'){
          redraw();
        }
      }
    );
    return false;
  }

  setInterval(redraw, 1000);

  $("#option_input").keyup(calculate_btn);
  $("#username_input").keyup(calculate_btn);

  $("#add_idea_button").click(function(){
    $('.sidebar').filter('.bottom').sidebar('toggle');
    })
  ;

</script>

{% endblock %}

